

* {
  box-sizing: border-box;
}

header {
  position: sticky;
  width: 100%;
  height: 10%;
  background-color: tomato;
  color: rgb(250, 250, 250);
  padding: 10em;
  font-size: medium;
}

nav {
  width: 80%;
  height: 1.5em;
  background-color: #cd234a;
  color: whitesmoke;
}

a {
  color: white;
}

main {
  width: 80%;
  height: 100em;
  margin-left: auto;
  margin-right: auto;
  background-color: #cd234a;
  font-family:'Times New Roman', Times, serif;
  
}

aside {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 100%;
	width: 300px;
	margin: 25px;
	padding: 25px;
	border: 2px navy solid;
}

section {
  width: 100%;
  height: 100%;
  float: left;
  background-color: #cd234a;
  padding: .5em;
}


footer {
  width: 100%;
  height: 10em;
  clear: both;
  background-color: rgba(6, 134, 124, 0.329);
  color: rgb(241, 169, 80);
  text-align: left;
  padding-top: auto;
}